<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Technic Edit</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Technic system</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Create New worker </h1>
      <div class = "card-body">
        <form th:action="@{/worker}" th:object = "${workers}" method="POST">
          <div class ="form-group">
            <label> Technic firstName </label>
            <input
                    type = "text"
                    name = "firstName"
                    th:field = "*{firstName}"
                    class = "form-control"
                    placeholder="Enter worker firstName"
            />
          </div>

          <div class ="form-group">
            <label> Technic lastName </label>
            <input
                    type = "text"
                    name = "lastName"
                    th:field = "*{lastName}"
                    class = "form-control"
                    placeholder="Enter worker lastName"
            />
          </div>
          <div class ="form-group">
            <label> worker email </label>
            <input
                    type = "text"
                    name = "model"
                    th:field = "*{email}"
                    class = "form-control"
                    placeholder="Enter worker email"
            />
          </div>
          <div class ="form-group">
            <label> Worker role </label>
            <select
                    name = "role"
                    th:field = "*{role}"
                    class = "form-control"
                    placeholder="Enter worker role"
            />
            <option value = "TECHNIC">TECHNIC</option>
            <option value = "INZYNIER">INZYNIER</option>
            <option value = "KIEROWCA">KIEROWCA</option>
            </select>
          </div>


          <div class = "box-footer">
            <button type="submit" class = "btn btn-outline-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
